[Desktop Entry]
Name=Diamond
Comment=Edit text files
Exec=/opt/diamond/diamond
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=diamond
Categories=Utility;TextEditor;
Keywords=TextEditor;Development;Utility
Name[en_US]=diamond.desktop